body {
  background-color: #05000f;
  overflow-x: hidden;
  overflow-y: hidden;

}

#background-back {
  position: absolute;
  height: 500%;
  width: 500%;

  background-image: url(../image/Astronauts-StarrySkyBack.svg);
  background-repeat: repeat;
  background-size: 1000px;
}

#background-front {
  position: absolute;
  height: 500%;
  width: 500%;

  background-image: url(../image/Astronauts-StarrySkyFront.svg);
  background-repeat: repeat;
  background-size: 1000px;
}

#app {
  width: 100%;
  height: 100%;
}

#spaceship-image {
  margin-top: 100px;
  width: 50px;
  height: 100px;
}
#spaceship {
  position: absolute;
  width: 50px;
  height: 200px;
}
#home {
  position: absolute;
  width: 600px;
  height: 600px;
}
