* {
  border-radius: 0 !important;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

body {
  background-color: #05000f;
  overflow-x: hidden;
  overflow-y: hidden;
}

#background-back {
  position: absolute;
  height: 500%;
  width: 500%;

  background-image: url(../image/Astronauts-StarrySkyBack.svg);
  background-repeat: repeat;
  background-size: 1000px;
}

#background-front {
  position: absolute;
  height: 500%;
  width: 500%;

  background-image: url(../image/Astronauts-StarrySkyFront.svg);
  background-repeat: repeat;
  background-size: 1000px;
}

#app {
  width: 100%;
  height: 100%;
}

#spaceship-image {
  margin-top: 100px;
  width: 50px;
  height: 100px;
}
#spaceship {
  position: absolute;
  width: 50px;
  height: 200px;
}

#home {
  position: absolute;
  width: 600px;
  height: 600px;
}

#portfolio {
  position: absolute;
  width: 400px;
  height: 400px;
}

#contact {
  position: absolute;
  width: 500px;
  height: 500px;
}

#team {
  position: absolute;
  width: 300px;
  height: 300px;
}

#team-m1 {
  position: absolute;
  width: 100px;
  height: 100px;
}

#team-m2 {
  position: absolute;
  width: 100px;
  height: 100px;
}

#team-m3 {
  position: absolute;
  width: 100px;
  height: 100px;
}

.navbar {
  z-index: 9999;
}

/* navbar */
.navbar-default {
    background-color: #292E37;
    border-color: #292E37;
    background-image: linear-gradient(to bottom, #292E37 0, #292E37 100%);
}
/* title */
.navbar-default .navbar-brand {
    color: #bdbdbd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #bdbdbd;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #bdbdbd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #bdbdbd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #bdbdbd;
    background-color: #292E37;
    background-image: linear-gradient(to bottom, #292E37 0, #292E37 100%);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #bdbdbd;
    background-color: #292E37;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #292E37;
    border-bottom-color: #292E37;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #292E37;
    border-bottom-color: #292E37;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #292E37;
    border-bottom-color: #292E37;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #292E37;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #292E37;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #bdbdbd;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #bdbdbd;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #bdbdbd;
    }
}
