<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="AstonautCreatives">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta name="author" content="AstonautCreatives">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="styles/bootstrap/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="scripts/lib/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="styles/main.css">

<script src = "scripts/lib/vue.js"></script>

<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" href="#">Astronaut Creative</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div @mousemove="mouseMove" @mousedown="mouseDown" @mouseup="mouseUp" id="app">
    <div id="background-back">
    </div>

    <div id="background-front">
    </div>

    <div v-bind:style="{ top: planets.home.top + 'px', left: planets.home.left + 'px'}" id="home">
        <img id="home-image" src="image/Astronauts-HomePlanet.svg" draggable="false"/>
    </div>

    <div v-bind:style="{ top: planets.contact.top + 'px', left: planets.contact.left + 'px'}" id="contact">
        <img id="contact-image" src="image/Astronauts-ContactPlanet.svg" draggable="false"/>
    </div>

    <div v-bind:style="{ top: planets.portfolio.top + 'px', left: planets.portfolio.left + 'px'}" id="portfolio">
        <img id="portfolio-image" src="image/Astronauts-PastProjectsPlanet.svg" draggable="false"/>
    </div>

    <div v-bind:style="{ top: planets.team.top + 'px', left: planets.team.left + 'px'}" id="team">
        <img id="team-image" src="image/Astronauts-TeamPlanet.svg" draggable="false"/>
    </div>

    <div v-bind:style="{ top: planets.teamm1.top + 'px', left: planets.teamm1.left + 'px'}" id="team-m1">
        <img id="team-m1-image" src="image/Astronauts-TeamMoon1.svg" draggable="false"/>
    </div>

    <div v-bind:style="{ top: planets.teamm2.top + 'px', left: planets.teamm2.left + 'px'}" id="team-m2">
        <img id="team-m2-image" src="image/Astronauts-TeamMoon2.svg" draggable="false"/>
    </div>

    <div v-bind:style="{ top: planets.teamm3.top + 'px', left: planets.teamm3.left + 'px'}" id="team-m3">
        <img id="team-m3-image" src="image/Astronauts-TeamMoon3.svg" draggable="false"/>
    </div>

    <div v-bind:style="{ top: spaceship.top + 'px', left: spaceship.left + 'px', transform: 'rotate(' + spaceship.angle + 'deg)'}" id="spaceship">
        <img id="spaceship-image" src="image/space-ship.svg" draggable="false"/>
    </div>
</div>
</body>
<script src="scripts/app/main.js"></script>
</html>
